:root {
    /* colors */
    --color-primary: #fb881e;
    --color-secondary: #5f5f5f;
}
* {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-container {
    width: 80%;
    margin: 0 auto;
}
/* nav__bar */

.nav__bar {
    display: flex;
    justify-content: space-between;
    padding: 22px 0px 22px 0px;
}
.company__logo {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
}
.nav__link {
    display: flex;
    list-style: none;
    gap: 36px;
    color: var(--color-secondary);
    font-size: 18px;
}
.nav__active__link {
    color: var(--color-primary);
}
.nav__active {
    display: flex;
    gap: 5px;
    font-size: 18px;
    align-items: center;
}
